<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Homepage</title>
  </head>
  <body>
    <div class="main">
      <% if (user) { %>
      <h1>Welcome back <%= user.email %></h1>
      <div class="folder-container">
        <% if (folders && folders.length > 0) { %> <% folders.forEach(folder =>
        { %> <%- include('folders/folder', { folder: folder, user: user }) %> <%
        }) %> <% } else { %>
        <p>You have no folders yet.</p>
        <% } %>
      </div>
      <div class="navigation-container">
        <button id="create-folder-button">Add a new folder</button>
        <a href="/logout">Log out</a>
      </div>
      <% } else { %>
      <h1>Googol Walk</h1>
      <div class="links-container">
        <p><a href="/sign-up">Sign up</a> right now!</p>
        <p>Already registered? <a href="/login">Login</a></p>
      </div>
      <% } %>
    </div>
    <%- include('folders/update_folder_dialog.ejs') %> <%-
    include('folders/create_folder_dialog.ejs') %> <%-
    include('folders/upload_file_dialog.ejs') %>
  </body>
</html>
